form {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  margin-top: 20px; /* Center the form horizontally */
}

.container-fluid , .nav-link{
  background-color: rgb(3, 138, 206);
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 5px;
}

.form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-submit {
  margin-top: 10px;
  background-color: #007bff; /* Adjust the background color as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.form-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.form-success {
  background-color: #28a745; /* Green color for success message */
  color: #fff;
}

.form-error {
  background-color: #dc3545; /* Red color for error message */
  color: #fff;
}

/* General table styles */
/* General table styles */
.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: 1px solid black;
}

/* Table header styles */
.table th {
  background-color: #007bff; /* Header background color */
  color: #fff;
  padding: 12px;
  text-align: left;
  border: 1px solid #007bff;
  font-weight: bold;
  font-size: 14px;
}

/* Table body styles */
.table tbody {
  background-color: #f8f9fa; /* Body background color */
}

/* Table row styles */
.table td, .table th {
  border: 1px solid #dee2e6;
  padding: 12px;
}

/* Alternating row colors */
.table tbody tr:nth-child(even) {
  background-color: #e2e6ea;
}

/* Hover effect on rows */
.table tbody tr:hover {
  background-color: #d0d9e1;
}

/* src/components/AuthorForm.css */

.custom-table {
  background-color: black;
  color: white;
}
